<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/'}); %>

<main>
  <section>
    <h1>Lessons</h1>
    <ol>
      <li><p>Listening</p></li>
      <li><p>Your first words</p></li>
    </ol>
</section>

<section>
  <h2>Own playlist</h2>
  <!-- data -->

  <h2>All stories</h2>
  <form action="/" method="get">
    <button type="button">Dutch</button>
    <button type="button">English</button>
  </form>

  <% if (stories && stories.length > 0) { %>
    <ul>
      <% stories.forEach(story => { %>
        <li>


        <% if (story.image) { %>
          <img src="https://fdnd-agency.directus.app/assets/<%= story.image %>" 
          onerror="this.onerror=null;this.src='Placeholder-1.png';">
          <% } %>
          
            <h3><%= story.title %></h3>
            <p><%= story.summary %></p>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No stories available.</p>
  <% } %>

  <button><</button>
  <button>></button>
  </section>

  <section>
  <h2>Liked playlist</h2>
  <!-- data -->
  <h2>Suggested playlist</h2>
  <!-- data -->
  </section>
</main>
<%- include('./partials/foot') %>